/* input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  height: 100px;
} */

/* * {
  box-sizing: border-box;
} */

/* Custom CSS for the toggle button */
#toggle:checked + .toggle-dot {
  transform: translateX(100%);
  background-color: #f6e05e; /* Change color for the dot when toggled */
}

.toggle-line {
  transition: background-color 0.3s;
}

.toggle-dot {
  transition: transform 0.3s, background-color 0.3s;
  cursor: pointer; /* Add cursor pointer to make it clickable */
}

.blogimg img {
  width: 400px;
  height: 400px;
}
